<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irish flower classification Analysis</title>
</head>
<body>
    <h1>Welcome to Tim's online milk quality classification Analysis</h1>
    <h2>Please enter the milk attributes:</h2>
    <hr>
    <form action='result'>
        pH: <input type="number" name="pH" step="0.1" required><br>
        Temperature: <input type="number" name="Temperature"  required><br>
        Taste <input type="number" name="Taste"  required><br>
        Odor: <input type="number" name="Odor"  required><br>
        Fat: <input type="number" name="Fat"  required><br>
        Turbidity <input type="number" name="Turbidity"  required><br>
        Colour: <input type="number" name="Colour"  required><br>
    
    
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>