<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irish flower classification Analysis</title>
</head>
<body>
    <h1>Welcome to Tim's online Hypertension classification Analysis</h1>
    <h2>Please enter the patients information:</h2>
    <hr>
    <form action='result'>
        Age: <input type="number" name="age"  required><br>
        Sex: <input type="number" name="sex" required><br>
        Chest Pain Type (cp): <input type="number" name="cp" required><br>
        Resting Blood Pressure (trestbps): <input type="number" name="trestbps" required><br>
        Cholesterol (chol): <input type="number" name="chol" required><br>
        Fasting Blood Sugar (fbs): <input type="number" name="fbs" required><br>
        Resting Electrocardiographic Results (restecg): <input type="number" name="restecg" required><br>
        Maximum Heart Rate (thalach): <input type="number" name="thalach" required><br>
        Exercise-Induced Angina (exang): <input type="number" name="exang" required><br>
        ST Depression Induced by Exercise (oldpeak): <input type="number" name="oldpeak" step="0.1" required><br>
        Slope: <input type="number" name="slope" required><br>
        Number of Major Vessels Colored (ca): <input type="number" name="ca" required><br>
        Thalassemia Type (thal): <input type="number" name="thal" required><br>
    
    
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>