<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irish flower classification Analysis</title>
</head>
<body>
    <h1>Welcome to Tim's online Irish flower classification Analysis</h1>
    <h2>Please enter the characteristics of the flower:</h2>
    <hr>
    <form action='result'>
        Sepal Length: <input type="number" name="sepal_length" step="0.1" required><br>
        Sepal Width: <input type="number" name="sepal_width" step="0.1" required><br>
        Petal Length: <input type="number" name="petal_length" step="0.1" required><br>
        Petal Width: <input type="number" name="petal_width" step="0.1" required><br>
    
    
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>