<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irish flower classification Analysis</title>
</head>
<body>
    <h1>Welcome to Tim's online house price prediction Analysis</h1>
    <h2>Please enter the apartment's details:</h2>
    <hr>
    <form action='result'>
        Area: <input type="number" name="area" required><br>
        Bedrooms: <input type="number" name="bedrooms" required><br>
        Bathrooms: <input type="number" name="bathrooms" required><br>
        Stories: <input type="number" name="stories" required><br>
        Main Road: 
        <select name="mainroad" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Guest Room: 
        <select name="guestroom" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Basement: 
        <select name="basement" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Hot Water Heating: 
        <select name="hotwaterheating" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Air Conditioning: 
        <select name="airconditioning" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Parking: <input type="number" name="parking" required><br>
        Preferred Area: 
        <select name="prefarea" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>
        Furnishing Status: 
        <select name="furnishingstatus" required>
            <option value="furnished">Furnished</option>
            <option value="semi-furnished">Semi-Furnished</option>
            <option value="not-furnished">Not Furnished</option>
        </select><br>
    
        <input type="submit" value="Submit">
    </form>
    
    
</body>
</html>